/* styles/components/button.css

/* NAVBAR BUTTONS */

.navbar-links li {
    padding: var(--space-4) var(--space-8);
    background-color: var(--color-btn);
    border: none;
    border-radius: var(--radius-full);

    /* press down transition */
    transition: transform var(--transition-fast),
                box-shadow var(--transition-fast);
}

/* hover animation */
.navbar-links li:hover {
    transform: scale(1.03);
    box-shadow: var(--shadow-soft);
}

/* when clicking/pressing */
.navbar-links li:active {
    transform: scale(0.95);
}

.navbar-links a {
    font-family: var(--font-body);
    font-size: var(--text-2xl);
    color: var(--color-text-light);
}

/* shrink buttons down to desktop size */

@media (min-width: 1024px) {
    .navbar-links li {
        padding: var(--space-3) var(--space-4);
    }

    .navbar-links a {
        font-size: var(--text-base);
    }
}